# Zkopíruj tento soubor jako keystore.properties a vyplň hodnoty
# NIKDY nepřidávej keystore.properties do gitu!
#
# storeFile = absolutní cesta ke .jks souboru (nebo relativní od android/ složky)
storeFile=/Users/TVOJE_JMENO/.android/nexus-release-key.jks
storePassword=TVOJE_HESLO
keyAlias=nexus-key
keyPassword=TVOJE_HESLO

